<h2>
  <%= @user.username %>
</h2>
<% if @user.admin %>
<h3>
  Administrator (moderator privilege)
</h3>
<% end %>

<table id="stats">
  <tr>
    <td>Link Karma:</td>
    <td><%= @user.link_karma %></td>
  </tr>
  <tr>
    <td>Comment Karma:</td>
    <td><%= @user.comment_karma %></td>
  </tr>
  <tr>
    <td>Total Karma:</td>
    <td><%= @user.comment_karma.to_i + @user.link_karma.to_i %></td>
  </tr>
</table>

<h2><%= @user.username%>'s Posts:</h2>
  <div id="posts"></div>
<h2><%= @user.username%>'s Comments:</h2>  
  <div id="comments"></div>
  
<script type="text/javascript">
update_show();
setInterval( update_show, 8000 );
</script>