<h2>
  <%= @user.username %>
</h2>
<% if @user.admin %>
<h3>
  Administrator (moderator privilege)
</h3>
<% end %>
<h3>
  Link Karma: <%= @user.link_karma %>
</h3>
<h3>
  Comment Karma: <%= @user.comment_karma %>
</h3>
<h2><%= @user.username%>'s Posts:</h2>
  <div id="posts"></div>
<h2><%= @user.username%>'s Comments:</h2>  
  <div id="comments"></div>
  
<script type="text/javascript">
update_show();
setInterval( update_show, 8000 );
</script>