<% if @user.nil?%>
<h1>No user was found. Sorry!</h1>
<% else %>
<h2>
  <%= @user.username %>
</h2>

<% if logged_in_admin? %>
<h4>
  <% if @user.admin %>
  <%= link_to "remove admin privilege", {:controller => "user", :action => "set_admin", :id => @user.id, :bool => 'false' }%>
  <% else %>
  <%= link_to "add admin privilege", {:controller => "user", :action => "set_admin", :id => @user.id, :bool => 'true' }%>
  <% end %>
</h4>
<% end %>

<% if @user.admin %>
<h3>
  Administrator (moderator privilege)
</h3>
<% end %>

<table id="stats">
  <tr>
    <td>Link Karma:</td>
    <td><%= @user.link_karma %></td>
  </tr>
  <tr>
    <td>Comment Karma:</td>
    <td><%= @user.comment_karma %></td>
  </tr>
  <tr>
    <td>Total Karma:</td>
    <td><%= @user.comment_karma.to_i + @user.link_karma.to_i %></td>
  </tr>
</table>

<h2><%= @user.username%>'s Posts:</h2>
  <div id="posts"></div>
<h2><%= @user.username%>'s Comments:</h2>  
  <div id="comments"></div>
<% end %>
  
<script type="text/javascript">
update_show();
setInterval( update_show, 8000 );
</script>