<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if logged_in? %>
    <li>
      <%= link_to('Logout', '/logout') %>        
    </li>
  <% else %>
    <li>
      <%= link_to('Login', '/login')  %>  
    </li>
  <% end %>
  <% if logged_in? %>
  <% else %>
    <li>
      <%= link_to('Sign up', '/signup')  %>
    </li>
  <% end %>
  <li>
    <%= link_to("Posts", "/posts/index")%>
  </li>
  <li>
    <%= link_to "Top Users", :controller => :user, :action => :top %> 
  </li>
</ul>
<div style="float:right; font-size: 15px; padding-top: 10px">
  <% if !logged_in? %>
  Guest
  <% else %>
  <%= current_user.username %>
  <% end %>
</div>